/* CSS files add styling rules to your content */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Bubbles&display=swap'); */

@font-face {
    font-family: 'my Font';
    src: url('https://cdn.glitch.global/20e18462-aaff-4647-8e20-9b2a2ec95aad/BluuNext-Bold.otf?v=1702077457052');
  }
  
  *{
  }
  
  .item-a {
    grid-area: nav;
  }
  .item-b {
    grid-area: main;
  }
  
  
  body {
    font-family: 'Space Grotesk', sans-serif;
    
  /*   background: skyblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
  /*   flex-wrap: wrap; */
    gap: 50px;
    outline: 1px solid black;
    color: green;
    background-image: #fff;
    
    width: 100%;
    max-width: 10240px;
    margin: auto;
    background-image: url("https://cdn.glitch.global/89e983b9-0b2a-4742-a051-5a5f6b604a31/citrus_jam_16.jpg?v=1737390521703");
    background-size: contain;
    background-position: 50% 50%;
  
  }
  .home-body {
      background-image: url("https://cdn.glitch.global/89e983b9-0b2a-4742-a051-5a5f6b604a31/citrus_jam_16.jpg?v=1737390521703");
      background-size: cover;
      background-position: 50% 50%;
  
  }
  
  nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 10px;
    flex-direction: row;
  }
  
  nav ul li{
    outline: 1px solid green;
  }
  
  
  
  nav {
    padding: 0.5rem;
    grid-area: nav;
    max-width 1024px;
  }
  
  .nav {
    width: auto;
    max-width: 992px;
    height: 100%;
    display: flex;
    float: left;
  }
  
  
  main {
    grid-area: main;
    max-width: 1200px;
    padding: 0.5rem 0;
  /*   outline: 5px solid blue; */
    
  /*   display: grid; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    grid-template-areas: 
      "aside . section section"
      "aside . . ."
      "aside . aritcle article";
  }
  
  #p5sketch{
  /*   outline: 1px solid #000; */
    height: 500px;
  }
  
  aside{
    grid-area: aside;
  }
  
  section{
    grid-area: section;
  }
  
  article{
    grid-area: article;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  li {
    font-size: 1rem;
  }
  
  .fullwidth{
    width: 100%;
    margin-bottom: 0.625rem;
  }
  
  img{
    max-width: 100%;
  }
  
  
  @media only screen and (max-width: 600px) {
    nav {
      width: 100%;
    }
    body {
      flex-direction: column;
  /*     background: red; */
    }
  }
  
  
  p, li {
    font-family: 'Space Grotesk', sans-serif;
    color: #000;
    background-color: rgba(243, 229, 171, .75);
  }
  div {
    font-family: 'Space Grotesk', sans-serif;
    color: #000;
    background-color: none;
    
  }
  
  a {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    color: #000;
    background-color: rgba(243, 229, 171, .75);
    text-decoration: underline;
  }
  
  .lg-a {
    font-size: 16pt;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  
  h1 {
    font-size: 28pt;
  }
  .page-header {
    font-size: 40px;
    background-color: rgba(243, 229, 171, .75);
    padding: 8px 2px 2px 2px;
  }
  .page-sub-header {
    text-align: center;
  }
  
  h2 {
    font-size: 24pt;
  }
  h3 {
    font-size: 20px;
  }
  
  h1, h2, h3, h4, h5 {
    color: #000;
    font-weight: 700;
    background-color: rgba(243, 229, 171, .75);
  }
  
  button {
    /*font-family: "Inconsolata", monospace;*/
    
    font-family: 'Roboto', sans-serif;
    background-color: black;
    border: none;
    color: white;
    padding: 10px 10px;
    width: 100%;
    /*   text-align: center; */
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 30px 2px;
    cursor: pointer;
  }
  
  p {
    font-size: 16pt;
    line-height: 18pt;
  }
  p.small-p {
    font-size: 12pt;
    line-height: 16pt;
  }
  
  div {
    font-size: 18px;
  }
  
  .menu-header {
    font-size: 24px;
  }
  
  .full-width {
    width: 100%;
  }
  
  hr {
    width: 100%;
    color: #f3e5ab;
  }
  
  .left {
    width: 15%;
    padding: 1% 1% 1% 0;
    float: left;
    display: inline-block;
    /*   background-color: red; */
  }
  
  .center {
    width: 15%;
    padding: 1%;
    float: left;
    display: inline-block;
  }
  
  .right {
    width: 60%;
    padding: 1%;
    float: left;
    display: inline-block;
  }
  
  .content {
    width: 840px;
    display: inline-block;
    float: left;
    /*   background-color:yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    font-size: 18px;
    list-style-type: none;
    padding-bottom: 8px;
    margin: 4px 0;
  }
  
  li.bullet {
    list-style-type: "- ";
    margin: 1%;
    padding: 0;
  }
  
  li.bullet a {
    color: blue;
  }
  
  li a {
    color: #f3e5ab;
    /*   text-decoration: none; */
  }
  
  iframe {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    /*   height: 400px; */
    display: inline-block;
    float: left;
    margin-bottom: 2%;
  }
  
  .full-width-box {
    width: 100%;
    margin-bottom: 2%;
    display: inline-block;
    float: left;
  }
  
  img {
    height: 400px;
    /*display: inline-block;
    float: left;*/
    margin-bottom: 2%;
    margin-right: 2%;
  }
  
  img.original-img-style {
    height: 400px;
    display: inline-block;
    float: left;
    margin-bottom: 2%;
    margin-right: 2%;
  }
  
  
  .home-item {
    background-color: transparent;
    padding:4px;
    text-align:center;
  }
  
  .home-item a {
    font-size: 40px;
    color: rgba(243, 229, 171, .75);
    background-color: transparent;
    text-decoration: none;
    transition: background-color ease-in-out .3s, color ease-in-out .3s;
  
  }
  .home-item a:hover {
    background-color: rgba(243, 229, 171, .75);
    color: #000;
    transition: background-color ease-in-out .3s, color ease-in-out .3s;
  }
  .home-title {
    background-color: rgba(243, 229, 171, .75);
    padding:4px;
    text-align:center;
  }
  
  .home-emoji {
    font-size: 40px;
  }
  
  .nav-btm {
    border-top: 4px solid #F6FEDB;
    padding-top: 8px;
  }
  
  body .gist .gist-file {
    margin-bottom: 0;
    border: 1px dashed #adb5bd;
    border-radius: 0;
  }
  
  body .gist .gist-data {
    border-bottom: none;
    border-radius: 0;
    background-color: #f1f3f5;
  }
  
  body .gist .blob-wrapper {
    border-radius: 0;
  }
  
  body .gist .highlight {
    background-color: transparent;
    font-family: "Droid Sans Mono", monospace;
    font-size: 14px;
  }
  
  body .gist .highlight td {
    padding: 5px 15px !important;
    line-height: 1;
    font-family: inherit;
    font-size: inherit;
  }
  
  body .gist tr:first-child td {
    padding-top: 15px !important;
  }
  
  body .gist tr:last-child td {
    padding-bottom: 15px !important;
  }
  
  body .gist .blob-num {
    color: #ced4da;
    background-color: #495057;
    pointer-events: none;
  }
  
  body .gist .gist-meta {
    display: none;
  }
  
  .nav-link {
    font-size: 18px;
    line-height: 27px;
    cursor: pointer;
  }
  .nav-link a,
  .nav-link a:visited {
    color: black;
    text-decoration: none;
  }
  
  #toggle {
    display: none;
  }
  
  @media only screen and (max-width: 600px) {
    body {
      font-family: "Inconsolata", monospace;
      margin: 1%;
      width: 98%;
      height: 100%;
    }
    .nav {
      width: 100%;
    }
    .content {
      width: 100%;
      float: left;
    }
  
    img {
      width: 100%;
      height: auto;
    }
  }
  
  .myBox {
    /*   background: red; */
  
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  
    border: 1px solid black;
  }
  
  .fullwidth {
    width: 100%;
    float: left;
  }
  
  .center-text {
    text-align: center;
  }
  
  .skills-box {
    border: 2px solid #f3e5ab;
    padding: 8px;
    width: 100%;
    font-weight: bold;
  }
  .skills-box ul li {
    padding: 4px;
  }
  
  .border {
    border: 2px solid #f3e5ab;
  }
  
  .header {
    height: 45vh;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
  }
  .header-tint {
    //background-color: rgba(, .75);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .w1-header {
      background-image: url("https://cdn.glitch.global/89e983b9-0b2a-4742-a051-5a5f6b604a31/citrus_jam_4.jpg?v=1737390518961");
  }
  
  .w2-header {
    background-image: url("https://cdn.glitch.global/89e983b9-0b2a-4742-a051-5a5f6b604a31/citrus_jam_17.jpg?v=1737825347303");
  }
  
  .w3-header {
    background-image: url("https://cdn.glitch.global/89e983b9-0b2a-4742-a051-5a5f6b604a31/citrus_jam_7.jpg?v=1737390525452");
  }
  
  .w4-header {
    background-image: url("https://cdn.glitch.global/89e983b9-0b2a-4742-a051-5a5f6b604a31/stone_jam_1.jpg?v=1737825722123");
  }
  
  .w5-header {
    background-image: url("https://cdn.glitch.global/89e983b9-0b2a-4742-a051-5a5f6b604a31/citrus_jam_1.jpg?v=1737390520556");
  }
  
  .w6-header {
    background-image: url("https://cdn.glitch.global/89e983b9-0b2a-4742-a051-5a5f6b604a31/stone_jam_2.jpg?v=1737825722561");
  }
  
  .w7-header {
    background-image: url("https://cdn.glitch.global/89e983b9-0b2a-4742-a051-5a5f6b604a31/citrus_jam_13.jpg?v=1737825495973");
  }
  
  .w8-header {
    background-image: url("https://cdn.glitch.global/89e983b9-0b2a-4742-a051-5a5f6b604a31/citrus_jam_17.jpg?v=1737825730069");
  }
  
  .w9-header {
    background-image: url("https://cdn.glitch.global/89e983b9-0b2a-4742-a051-5a5f6b604a31/citrus_9x.jpg?v=1743038852519");
  }
  
  .w10-header {
    background-image: url("https://cdn.glitch.global/89e983b9-0b2a-4742-a051-5a5f6b604a31/citrus_10xx.jpg?v=1743295048125");
  }
  .w11-header {
    background-image: url("https://cdn.glitch.global/89e983b9-0b2a-4742-a051-5a5f6b604a31/citrus_jam_15.jpg?v=1737390522126");
  }
  .w12-header {
    background-image: url("https://cdn.glitch.global/89e983b9-0b2a-4742-a051-5a5f6b604a31/stone_jam_4.jpg?v=1737826026963");
  }
  .w13-header {
    background-image: url("https://cdn.glitch.global/89e983b9-0b2a-4742-a051-5a5f6b604a31/citrus_jam_9.jpg?v=1737390524821");
  }
  .w14-header {
    background-image: url("https://cdn.glitch.global/89e983b9-0b2a-4742-a051-5a5f6b604a31/citrus_jam_2.jpg?v=1746039480072");
  }
  .w15-header {
    background-image: url("https://cdn.glitch.global/89e983b9-0b2a-4742-a051-5a5f6b604a31/citrus_jam_14.jpg?v=1737390522472");
  }
  
  #editor { 
         height: 500px;
         width: 100%;
      }
  
  .youtube-vid {
    height: 500px;
  }
  
  .week-list-link {
    font-size: 20px;
  }
  
  .section-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .section-title h3:nth-child(2) {
    text-align: right;
  }
  
  .underline {
    text-decoration: underline;
  }
  
  ul.list-styler li, ol.list-styler li {
    list-style-type: inherit;
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #f3e5ab;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #ddd;
  }
  
  td ul li, td ul li {
    font-size: 10pt;
  }
  /**********************MARGIN SPACES**********************/
  .no-margin {
      margin:0 !important;
    }
    .margin-8 {
      margin:8px;
    }
    .margin-16 {
      margin:16px;
    }
    .margin-20 {
      margin:20px;
    }
    .margin-24 {
      margin:24px;
    }
    .margin-32 {
      margin:32px;
    }
    .margin-40 {
      margin:40px;
    }
    
    
    .mt--4{
      margin-top:4px;
    }
    
    .mt-8{
      margin-top:8px;
    }
    
    .mt-12{
      margin-top:12px;
    }
    
    .mt-16{
      margin-top:16px;
    }
    
    .mt-24{
      margin-top:24px;
    }
    
    .mt-32{
      margin-top:32px;
    }
    
    .mt-40{
      margin-top:40px;
    }
  
    
    
    .mt-48{
      margin-top:48px;
    }
    .mt-minus-48 {
      margin-top: -48px;
    }
    
    .mt-56{
      margin-top:56px;
    }
    
    .mt-64{
      margin-top:64px;
    }
    
    .mt-minus-64 {
      margin-top: -64px;
    }
    
    .mt-72{
      margin-top:72px;
    }
    
    .mt-minus-72 {
      margin-top: -72px;
    }
    
    .mt-80{
      margin-top:80px;
    }
    
    .mt-minus-80 {
      margin-top: -80px;
    }
    
    .mt-96{
      margin-top:96px;
    }
    
    .mt-minus-96 {
      margin-top: -96px;
    }
    
    .mt-104{
      margin-top:104px;
    }
    
    .mt-120{
      margin-top:120px;
    }
    
    .mt-minus-120 {
      margin-top: -120px;
    }
    
    .mt-160{
      margin-top:160px;
    }
    
    .mt-200{
      margin-top:200px;
    }
    
    .mt-240{
      margin-top:240px;
    }
    
    .mt-280{
      margin-top:280px;
    }
    
    .mt-320 {
      margin-top:320px;
    }
    
    .mt-360 {
      margin-top:360px;
    }
    
    .mt-20vh {
      margin-bottom: 20vh;
    }
    .mt-40vh {
      margin-bottom: 40vh;
    }
    .mt-60vh {
      margin-bottom: 60vh;
    }
    .mt-80vh {
      margin-bottom: 80vh;
    }
    .mt-100vh {
      margin-bottom: 100vh;
    }
    /********************************************/
    .mb-0{
      margin-bottom:0;
    }
    
    .mb--4{
      margin-bottom:4px;
    }
    
    .mb-8{
      margin-bottom:8px;
    }
    
    .mb-16{
      margin-bottom:16px;
    }
    
    .mb-minus-15{
      margin-bottom:-15px;
    }
    
    .mb-minus-16{
      margin-bottom:-16px;
    }
    
    .mb-24{
      margin-bottom:24px;
    }
    
    .mb-32{
      margin-bottom:32px!important;
    }
    
    .mb-40{
      margin-bottom:40px;
    }
    
    .mb-48{
      margin-bottom:48px;
    }
    
    .mb-minus-48 {
      margin-bottom: -48px;
    }
    
    .mb-56{
      margin-bottom:56px;
    }
    
    .mb-64{
      margin-bottom:64px;
    }
    
    .mb-minus-64 {
      margin-bottom: -64px;
    }
    
    .mb-72{
      margin-bottom:72px;
    }
    
    .mb-minus-72 {
      margin-bottom: -72px;
    }
    
    .mb-80{
      margin-bottom:80px;
    }
    
    .mb-minus-80 {
      margin-bottom: -80px;
    }
    
    .mb-104{
      margin-bottom:104px;
    }
    
    .mb-minus-104 {
      margin-bottom: -104px;
    }
    
    .mb-120{
      margin-bottom:120px;
    }
    
    .mb-minus-120 {
      margin-bottom: -120px;
    }
    
    .mb-128{
      margin-bottom:128px;
    }
    
    .mb-160{
      margin-bottom:160px;
    }
    
    .mb-200{
      margin-bottom:200px;
    }
  
    .mb-240{
      margin-bottom:240px;
    }
    
    .mb-20vh {
      margin-bottom: 20vh;
    }
    .mb-40vh {
      margin-bottom: 40vh;
    }
    .mb-60vh {
      margin-bottom: 60vh;
    }
    .mb-80vh {
      margin-bottom: 80vh;
    }
    .mb-100vh {
      margin-bottom: 100vh;
    }
  
  .image-box-1 {
      height: 500px;
      width: 100%;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
  }
  
  .image-box-2 {
      height: 750px;
      width: 500px;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
  }
  
  /**********************MARGIN SPACES**********************/
  
  .pt--4{
      padding-top:4px;
    }
    
    .pt-8{
      padding-top:8px;
    }
    
    .pt-12{
      padding-top:12px;
    }
    
    .pt-16{
      padding-top:16px;
    }
    
    .pt-24{
      padding-top:24px;
    }
    
    .pt-32{
      padding-top:32px;
    }
    
    .pt-40{
      padding-top:40px;
    }
  
  .btn-1 {
    border: 2px solid #f3e5ab;
    color: #f3e5ab
    font-size: 20px;
    text-transform: uppercase;
    padding: 8px;
    text-decoration: none;
    background: #F6FEDB;
    transition: color .3s ease-in-out, background .3s ease-in-out;
  }
  
  .btn-1:hover {
    color: #F6FEDB;
    background-color: #f3e5ab;
    text-decoration: none;
    transition: color .3s ease-in-out, background .3s ease-in-out;
  }
  
  .tab {
    overflow: hidden;
    border: 1px solid #f3e5ab;
    background-color: transparent;
    display: flex;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: 2px solid f3e5ab;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #f3e5ab;
  }
  
  .tab button:hover {
    background-color: #f3e5ab;
    color: #F6FEDB;
  }
  
  .tab button.active {
    background-color: #f3e5ab;
    color: #F6FEDB;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #f3e5ab;
    border-top: none;
  }
  
  .back-img {
    position: absolute;
    margin: -2em;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.3);
    z-index: -1;
  }
  
  #editor div {
    font-size: 14px;
  }
  
  .site-credits {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .site-credits h5 {
    padding: 4px;
  }
  
  .nav-item {
    font-weight: bold;
    text-align: center;
    padding: 4px 8px;
    
  }
  .nav-item a {
    color: #000;
    background-color: transparent;
  }
  
  .agenda-table {
    background-color: #f3e5ab;
  }